@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
body{
    height: 100%;
}
div{
    --divs-bg: #4747473b;
    --divs-bg-darker: #474747c5 ;
    --azul:#0017e4;
}
i{
    --gold-collor:  #ed9210;
    margin-left: 5px;
}
.fi-br-check, .fi-br-cross{
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: content, background-color;
    padding-top: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.fi-br-check{
    background-color: green;
}
.fi-br-cross{
    background-color: red;
}
.fi-br-check.fi-br-check-gold{
    background-color:  var(--gold-collor) ;
}
.fi-br-cross:hover, .fi-br-cross:focus-within{
    background: linear-gradient(45deg, red 25%, green 70%);
    /* background-color: #0017e4; */
}
.categories-List{
    background-color: var(--divs-bg);
    border-color: black;
    border-style: solid;
    font-size: x-large;
    margin: 15px;
    padding: 15px;    
    min-height: 50px;
}
.category-name, h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2vmin;
}
.category-name{
    background-color: var(--divs-bg-darker);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}
.name-label{
    font-size: clamp(2rem, 2.3vmax, 4rem);
}
.category-name:hover{
    background: linear-gradient(36deg, var(--divs-bg) 4%, var(--divs-bg-darker) 14%);
}
.normal-camo{
    display: grid;  
    grid-template-columns: 0.6fr 1.1fr 1.1fr 1.1fr;
    margin-right: 0.9vmax; 
}
.final-camo{
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 0.9fr 1.1fr; 
}
.normal-camo, .final-camo{
    font-size: clamp(1rem, .7vmax + 0.5rem, 2.5rem);
}
.gun-list-not-show{
    visibility: collapse;
    height: 0px;
    transition: 200ms ease-out;
}
.gun-list-show{
    visibility: visible;
    max-width: 100%;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 0.2fr 1fr 1fr;
    transition: 400ms ease-out;
    border-width: 0px 0px clamp(0.002rem, 0.02vmax, 0.2rem) 0  ;
    border-color: black;
    border-style: solid;
}
.gun-camo{
    text-align: end;
}
@media (max-width: 1860px) and (min-width: 801px){
    .gun-list-show{
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-columns: none;
        margin-bottom:  0.02vmax;
    }
    .gun-name{
        text-align: center;
        margin-bottom: .5vmax;
        font-size: clamp(1.2rem, .8vmax + 0.6rem, 2rem);
    }
    .normal-camo, .final-camo{
        grid-template-columns: 0.8fr 0.9fr 0.9fr 1.1fr;         
        margin-right: 0.9vmax; 
    }
}
    @media (max-width:800px){
        .gun-list-show{
            grid-template-rows: 0.5fr 1.7fr;
            grid-template-columns: 1fr 1fr;
        }
        .gun-name{
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
        }
        .normal-camo, .final-camo{
            grid-template-columns: none;
            grid-template-rows: 1fr 1fr 1fr 1fr;         
            margin-right: 0px; 
        }
        .normal-camo{
            margin-right: 0.7vmax;
        }
        .gun-camo{
            display: flexbox;
        }
        .gun-camo > label{
            display: block;
            text-align: center;
        }
        .gun-camo > i{
            margin-right: 50%;
        }
    }