body{
    height: 100%;
}

div{
    --divs-bg: #4747473b;
    --azul:#0017e4;
}
.categories-List{
    /* background-color: var(--divs-bg); */
    background-color: var(--divs-bg);
    border-color: black;
    border-style: solid;
    font-size: x-large;
    margin: 15px;
    padding: 15px;    
}
.gun-list-not-show{
    visibility: collapse;
}
.gun-list-show{
    visibility: visible;
}
:hover{
    border-width: 5px;
}