@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
body{
    height: 100%;
}
div{
    --divs-bg: #4747473b;
    --divs-bg-darker: #474747c5 ;
    --azul:#0017e4;
}
i{
    --gold-collor:  #ed9210;
    margin-left: 5px;
}
.fi-br-check, .fi-br-cross{
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: content, background-color;
    padding-top: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.fi-br-check{
    background-color: green;
}
.fi-br-cross{
    background-color: red;
}
.fi-br-check.fi-br-check-gold{
    background-color:  var(--gold-collor) ;
}
.fi-br-cross:hover, .fi-br-cross:focus-within{
    background: linear-gradient(45deg, red 25%, green 70%);
    /* background-color: #0017e4; */
}
.categories-List{
    background-color: var(--divs-bg);
    border-color: black;
    border-style: solid;
    font-size: x-large;
    margin: 15px;
    padding: 15px;    
    min-height: 50px;
}
.category-name, h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2vmin;
}
.category-name{
    background-color: var(--divs-bg-darker);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}
.name-label{
    font-size: clamp(2rem, 2.3vmax, 4rem);
}
.category-name:hover{
    background: linear-gradient(36deg, var(--divs-bg) 4%, var(--divs-bg-darker) 14%);
}
.normal-camo{
    display: grid;  
    grid-template-columns: 0.7fr 0.6fr 1.1fr 1.1fr 1.1fr; 
}
.final-camo{
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 0.9fr 1.1fr; 
}
.normal-camo, .final-camo{
    font-size: clamp(0.7rem, 1.1vmax, 2.5rem);
}
.gun-list-not-show{
    visibility: collapse;
    height: 0px;
}
.gun-list-show{
    visibility: visible;
    max-width: 100%;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1.2fr 1fr;
}
.gun-camo{
    text-align: end;
}