/* You can add global styles to this file, and also import other style files */
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
:root{
    --primary-bg: black;
    --secondary-bg: #7ac32c;
    /* font-size: 0.8vmax; */
    --primary-btn-bg: #097914;

    color: white;
    --divs-bg: #4747473b;
    --divs-bg-darker: #474747c5 ;
    --azul:#0017e4;
}
body{
    min-height: 100vh;
    background: linear-gradient(36deg, var(--primary-bg) calc(100% - 50vw ), var(--secondary-bg) calc(90% + 30vmin ));
    background-repeat: no-repeat;
}
@media (max-width: 801px) {
    body{
        min-height: 120vh;
    }
}